.container {
  width: 95%;
  height: 550px;
  margin: 25px auto;
  border: 0.2px solid black;
}

.title {
  display: flex;
  justify-content: center;
  background: gray;
}

.input {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.input-field {
  padding: 12px;
  width: 40%;
  text-align: center;
  border: none;
  background: #eeeeee;
  font-weight: bold;
  border-radius: 5px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  font-size: 14px;
}

.actions span input {
  margin-right: 10px;
}

.custom-icon {
  color: #b7b7b7;
  font-size: 17px;
}
.actions span a {
  margin-right: 15px;
}

.users-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 99%;
  height: 343px;
  margin: 0 auto;
  border: 0.5px solid black;
  overflow-y: auto;
}
.item {
  width: 100px;
  height: 150px;
  margin: 10px;
  text-align: center;
  position: relative;
  border: 1px solid #eeeeee;
  border-radius: 6px;
  background-color: #eeeeee;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 1px 1px 7px rgba(0, 0, 0, 0.19);
  font-size: 14px;
}
.checkbox {
  position: absolute;
  right: 80px;
  top: 5px;
}

div.infos {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
div.infos span {
  font-weight: 500;
}
span img {
  border-radius: 50%;
  width: 51px;
}

.btn-profile {
  border: none;
  background: #36c2ce;
  border-radius: 5px;
  padding: 10px;
  color: black;
  font-size: 11px;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
}

/*RESPONSIVE DESIGN*/
@media (max-width: 328px) {
  .users-container {
    height: 311px;
  }
  .actions {
    flex-direction: column;
    text-align: center;
  }
  span.selected-items {
    margin-bottom: 12px;
  }
}
@media (max-width: 212px) {
  .users-container {
    height: 292px;
  }
}
@media (max-width: 154px) {
  .users-container {
    height: 273px;
  }
}
